
@{
    ViewBag.Title = "Try it myself";
}

<h2>Try it myself</h2>
<div class="row">
    if screen size is >=768px
</div>
<div class="row">
    <div class="col-md-3">3/12</div>
    <div class="col-md-4">4/12</div>
    <div class="col-md-5">5/12</div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-8">8/12 if >=768px, 6/12 if >=576px, otherwise 12/12</div>
    <div class="col-6 col-md-4">4/12 if >=768px, otherwise 6/12</div>
</div>
